*{
    box-sizing: border-box;
}

:root{
    --black-green: #143C3C;
    --black-gray: #575D5E;
    --black: #152427;
    --light-green: #E2EDDF;
}

html{
    font-size: 62.5%;
}


body, html{
    scroll-behavior: smooth;
}

body{
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}

/* Common */
.container{
    width: 1140px;
    margin: 0 auto;
    max-width: calc(100% - 48px);
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 173px;
    height: 57px;
    background-color: var(--black-green);
    text-align: center;
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.6;
    color: #fff;
    text-decoration: none;
    border: 1px solid var(--black-green);
    border-radius: 40px;
}

.btn:hover{
    opacity: 0.9;
}

.desc{
    color: var(--black-gray);
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.6;
}
/* Header */
.header{
    font-family: 'Public Sans', sans-serif;
    background-color: #fff;
}

.header__inner{
    position: relative;
    display: flex;
    align-items: center;
    padding: 44px 0 13px;
}

.header__inner::after{
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: 0;
    background: linear-gradient(90deg, #FFF 0%, #DDDCDC 51.09%, rgba(212, 212, 212, 0.00) 99.68%);
}

.header--fixed{
    position: sticky;
    top: -31px;
    z-index: 100;
}

.header__actions{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.navbar__list{
    display: flex;
    align-items: center;
    margin-right: 69px;
}

.navbar__link{
    color: var(--black-gray);    
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.6;
    padding: 4px 19px;
    text-decoration: none;
}

.navbar__link:hover{
    color: var(--black)
}

.navbar__link--active{
    position: relative;
    color: var(--black);
}

.navbar__link--active::after{
    content: "";
    position: absolute;
    bottom: -27px;
    left: 19px;
    width: 16px;
    height: 2px;
    background-color: var(--black-green);
}

/* Hero */
.hero{
    padding: 60px;
    position: relative;
}

.hero__inner{
    display: flex;
    justify-content: space-between;
}

.hero__content{
    width: 35.5%;
}

.hero__heading{
    font-size: 5rem;
    font-style: normal;
    font-weight: 800;
    line-height: 1.2; 
    margin-bottom: 20px;
}

.hero__actions{
    display: flex;
    align-items: center;
    gap: 36px;
    margin-top: 42px;
}

.hero__btn-play{
   display: flex;
   align-items: center;
   gap: 15px;
   text-decoration: none;
}

.play-icon:hover{
    animation: rotate 0.6s linear infinite;
}

@keyframes rotate {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(1.3) rotate(360deg);
    }
}


.hero__btn-text{
    color: #152427;
    text-align: center;
    font-family: Poppins;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.67;
}

.hero__media{
    display: flex;
    width: 57%;
    gap: 20px;
}

.hero__thumb{
    width: 202px;
    height: 466px;
    border-radius: 110px;
    object-fit: cover;
}

.hero__thumb:nth-child(2){
    margin-top: 77px;
}

.hero__img{
    position: absolute;
}

.hero__img:nth-child(1){
    top: 32px;
    left: 387px;
    z-index: 1;
}

.hero__img:nth-child(2){
    top: 28px;
    left: 431px;
}

.hero__img:nth-child(3){
    bottom: -25px;
    right: 115px;
}

.hero__img:nth-child(4){
    bottom: 0;
    right: 72px;
}

.brand{
    margin-top: 80px;
}

.brand__list{
    border-radius: 999px;
    background-color: var(--light-green);
    padding: 76px 121px;
}

.brand__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brand__item{
    color: var(--black-green);
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    align-items: center;
    gap: 4px;
    flex-shrink: 0;
}

.brand__item:nth-child(4){
    font-family: "Sonsie One", system-ui;
}

.brand__item:hover{
    cursor:pointer;
    transform: scale(1.2);
}
