*{
    box-sizing: border-box;
}

:root{
    --black-green: #143C3C;
    --black-gray: #575D5E;
    --black: #152427;
    --light-green: #E2EDDF;
    --light-gray:#7D8188;
    --bolder-green: #83A17D;
    --gray: #6A8383;
}

html{
    font-size: 62.5%;
}


body, html{
    scroll-behavior: smooth;
}

body{
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
}
/* Common */
.container{
    width: 1140px;
    margin: 0 auto;
    max-width: calc(100% - 48px);
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 173px;
    height: 57px;
    background-color: var(--black-green);
    text-align: center;
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.6;
    color: #fff;
    text-decoration: none;
    border: 1px solid var(--black-green);
    border-radius: 40px;
}

.btn:hover{
    opacity: 0.9;
}

.desc{
    color: var(--black-gray);
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.6;
}

.section-heading{
    color: var(--black);
    font-size: 4.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.24;
}

.section-heading::after{
    content: "";
    width: 66px;
    height: 2px;
    display: inline-block;
    background-color: var(--black);
    margin-left: 22px;
    margin-bottom: 8px;
}

.title{
    display: inline-flex;
    color: var(--black);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.625px;
    gap: 0 21px;
}

.title::before{
    content: "";
    width: 25px;
    height: 1px;
    background-color: var(--black);
}

.control-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background-color: var(--light-green);
    border: none;
}

.control-btn:hover{
    cursor: pointer;
    background-color: var(--black-green);
    color: #fff;
}

.section-item-heading{
    color: var(--black);
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1; 
}

.section-desc{
    color: var(--light-gray);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.625; 
}
/* Header */
.header{
    font-family: 'Public Sans', sans-serif;
    background-color: #fff;
}

.header__inner{
    position: relative;
    display: flex;
    align-items: center;
    padding: 44px 0 13px;
}

.header__inner::after{
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: 0;
    background: linear-gradient(90deg, #FFF 0%, #DDDCDC 51.09%, rgba(212, 212, 212, 0.00) 99.68%);
}

.header--fixed{
    position: sticky;
    top: -31px;
    z-index: 100;
}

.header__actions{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.navbar__list{
    display: flex;
    align-items: center;
    margin-right: 69px;
}

.navbar__link{
    color: var(--black-gray);    
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.6;
    padding: 4px 19px;
    text-decoration: none;
}

.navbar__link:hover{
    color: var(--black)
}

.navbar__link--active{
    position: relative;
    color: var(--black);
}

.navbar__link--active::after{
    content: "";
    position: absolute;
    bottom: -27px;
    left: 19px;
    width: 16px;
    height: 2px;
    background-color: var(--black-green);
}

/* Hero */
.hero{
    padding: 60px;
    position: relative;
}

.hero__inner{
    display: flex;
    justify-content: space-between;
}

.hero__content{
    width: 35.5%;
}

.hero__heading{
    font-size: 5rem;
    font-style: normal;
    font-weight: 800;
    line-height: 1.2; 
    margin-bottom: 20px;
}

.hero__actions{
    display: flex;
    align-items: center;
    gap: 36px;
    margin-top: 42px;
}

.hero__btn-play{
   display: flex;
   align-items: center;
   gap: 15px;
   text-decoration: none;
}

.play-icon:hover{
    animation: rotate 0.6s linear infinite;
}

@keyframes rotate {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(1.3) rotate(360deg);
    }
}


.hero__btn-text{
    color: var(--black);
    text-align: center;
    font-family: Poppins;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.67;
}

.hero__media{
    display: flex;
    width: 57%;
    gap: 20px;
}

.hero__thumb{
    width: 202px;
    height: 466px;
    border-radius: 110px;
    object-fit: cover;
}

.hero__thumb:nth-child(2){
    margin-top: 77px;
}

.hero__img{
    position: absolute;
}

.hero__img:nth-child(1){
    top: 32px;
    left: 387px;
    z-index: 1;
}

.hero__img:nth-child(2){
    top: 28px;
    left: 431px;
}

.hero__img:nth-child(3){
    bottom: -25px;
    right: 115px;
}

.hero__img:nth-child(4){
    bottom: 0;
    right: 72px;
}

.brand{
    margin-top: 80px;
}

.brand__list{
    border-radius: 999px;
    background-color: var(--light-green);
    padding: 76px 121px;
}

.brand__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brand__item{
    color: var(--black-green);
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    align-items: center;
    gap: 4px;
    flex-shrink: 0;
}

.brand__item:nth-child(4){
    font-family: "Sonsie One", system-ui;
}

.brand__item:hover{
    cursor:pointer;
    transform: scale(1.2);
}

.service{
    margin-top: 106px;
}

.service__title{
    margin-bottom: 12px;
}

.service__controls{
    display: flex;
    align-items: center;
    gap: 17px;
}

.service-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service__heading{
    margin-top: 28px;
    width: 46%;
}

.service__list{
    margin-top: 76px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
}

.service-item__link{
    text-decoration: none;
}

.service-item{
    background-color: #fff;
    border-radius: 20px;
}

.service-item:hover{
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}

.service-item__content{
    padding-bottom: 18px;
    transition: padding .25s ease;
}
.service-item:hover .service-item__content{
    padding-left: 23px;
}

.service-item__img{
    width: 100%;
    height: 318px;
    border-radius: 20px 20px 0px 0px;
    margin-bottom: 24px;
    object-fit: cover;
}

.service-item__desc{
    margin-top: 18px;
    color: var(--light-gray);
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.71; 
}

.about{
    margin-top: 157px;
    position: relative;
}

.about__inner{
    display: flex;
    justify-content: space-between;
}

.about__images{
    display: flex;
    gap: 0 21px;
}

.about__content{
    width: 485px;
}

.about__img{
    width: 285px;
    height: 480px;
    object-fit: cover;
    border-radius: 210px;
    margin-top: 13px;
}

.about__media{
    position: relative;
}

.about__img:first-child{
    margin-top: 90px;
}

.about__heading{
    margin-top: 28px;
}

.about__info{
    display: flex;
    align-items: center;
    gap: 0 24px;
    margin-top: 38px;
    padding-bottom: 20px;
    border-bottom: 1px solid #83A17D;
}

.about__value{

    color: var(--black);
    font-size: 4.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.24;
}

.about__info-desc{
    color: var(--light-gray);
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.71;
    width: 364px;
}

.about__thumb{
    position: absolute;
}

.about__thumb:first-child{
    top: -29px;
    left: 99px;
    z-index: 1;
}

.about__thumb:last-child{
    top: 13px;
    left: 137px;
}

.about__img-desc{
    width: 143px;
    border-radius: 8px;
    background: #FFF;   
    box-shadow: 0px 7px 54px 0px rgba(154, 154, 154, 0.25);
    padding: 19px 17px;
    position: absolute;
    top: 418px;
    left: 457px;
    bottom: 8px;
}

.about__img-heading{
    color: var(--Primary-color-black, #152427);
    font-family: "Public Sans";
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1;
}

.about__statistic{
    margin-top: 6px;
    color: var(--black-gray);
    font-family: "Public Sans";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4;
    opacity: 0.4;
}

.about__stat-value{
    display: inline-block;
    color: var(--black);
    margin: 10px 0 -25px;
    font-family: "Public Sans";
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.4; 
}


.about__stat-desc{
    color: var(--black);
    font-family: "Public Sans";
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.4;
}

.about__teams{
    display: flex;
    gap: 30px;
    margin-top: 5px;
}

.about__stat-status{
    display: inline-block;
    width: 96px;
    height: 2px;
}

.about__avatars{
    margin-left: 10px;
    align-items: center;
}

.about__avatar{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #FFF;
    margin-left: -10px;
    object-fit: cover;
}

.about__stat-desc{
    display: block;
    float: right;
    margin-right: 12px;
}

.about__btn{
    margin-top: 14px;
}

.about__stat-title{
    margin-right: 0;
}

.about__heading{
    margin-bottom: 11px;
}

.section-heading.about__heading::after {
    display: none;
}

.process{
    margin-top: 70px;
    padding-top: 36px;
}

.process__heading{
    width: 490px;
    margin: 20px 0 81px;
}

.process-item{
    position: relative;
    border-bottom: 1px solid var(--bolder-green);
    padding: 46px 0 30px 21px;
    display: grid;
    align-items: center;
    grid-template-columns: 0.2fr 0.31fr 1fr;
    height: 185px;
}

.process-item__order{
    color: var(--black-green);
    font-size: 7.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 0.72; 
}

.process__img{
    position: absolute;
    right: 92px;
    bottom: 0;
    width: 450px;
    height: 444px;
    object-fit: cover;
    display: none;
}

.process-item__head{
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.process-item__link{
    margin-left: 49px;
    color: var(--black-gray);
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    text-decoration: underline;
    display: none;
}

.process-item__desc{
    margin-left: 175px;
    color: var(--light-gray);
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.56;
}

.process-item__heading{
    margin-left: 49px;
    color: var(--black);
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1;
}

.process-item:hover{
    background-color: var(--light-green);
    border-bottom: none;
    border-radius: 33px;
}

.process-item:hover .process-item__desc,
.process-item:not(:hover) .process__img,
.process-item:not(:hover) .process-item__link{
    display: none;
}

.process-item:hover .process__img,
.process-item:hover .process-item__link,
.process-item:not(:hover) .process-item__desc{
    display: inline-block
}

.video{
    margin-top: 148px;
    padding: 116px 0 63px;
    background-color: var(--black-green);
    position: relative;
}

.video__heading{
    width: 457px;
    color: #fff;
}

.video-head{
    display: flex;
    margin-bottom: 72px;
    justify-content: space-between;
}

.video__desc{
    color: var(--gray);
    margin-bottom: 13px;
}

.video__detail{
    width: 590px;
}

.video__link{
    color: #fff;
    font-family: "Public Sans";
}

.video__actions{
    display: flex;
    gap: 26px;
    align-items: center;
}

.video__next:hover{
    cursor: pointer;
}

.section-heading.video__heading::after{
    background-color: var(--bolder-green);
}

.video-play{
    display: inline-block;
    width: 100%;
    height: 544px;
    vertical-align: bottom;
}

.video__container{
    position: relative;
    background-color: rgba(0,0,0,0.3);
    border-radius: 22px;
}

.video__play-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 118px;
    height: 118px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.70);
    cursor: pointer;
}

.video__img-bg{
    position: absolute;
    top: 126px;
    right: 20px;
}